@page
@model LearnLink.WebApi.Pages.Lessons.UpdateModel
@{
    ViewData["Title"] = "Update lesson";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Lessons/LessonsActionsPage')">
        Lessons
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('Lessons/Update')">
        Update
    </h2>
</div>
