//Font size variables

$h1-fz: 42px;
$h2-fz: 30px;
$h3-fz: 22px;
$big-fz: 32px;
$reg-fz: 20px;
$small-fz: 12px;
$tiny-fz: 10px;

//Colors variables
$primary: #1f1f1f;
$blue: #6b6bff;
$accentBlue: #3b3bff;
$lightBlue: #eaeaff;
$mainGray: #383838;
$secondaryGray: #949494;
$veryLightGray: #f5f5f5;
$lightGray: #dfdfdf;
$white: #fff;
$mainViolet: #8234ff;
$lightViolet: #8c74ff;
$veryLightViolet: #f6f4ff;
$darkViolet: #180034;
$red: #ff4750;
$accentRed: #ff1c28;
$lightRed: #ffeeef;
$green: #00bb8e;
$accentGreen: #05a17d;
$lightGreen: #e7fff3;

//Media breakpoints variables

$xs: 440px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
