<header class="header">
    <nav class="header__nav container">
        <div class="logo">
            <!-- <img src="~/img/logo.svg" alt="Logo" class="logo__img" /> -->
            <h2>Learn Link</h2>
        </div>
        <a class="white-link" asp-area="" asp-page="/Index">Home</a>
        <a class="white-link" href="swagger">Swagger</a>

        <div class="header__dropdown dropdown">
            <div class="dropdown__head">
                <p>Pages</p>
                <p class="icon icon-arrow-down"></p>
            </div>
            <div class="dropdown__items">
                <a class="dropdown__item" onclick="redirect('Users/UsersActionsPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Users
                </a>
                <a class="dropdown__item" onclick="redirect('Roles/RolesActionsPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Roles
                </a>
                <a class="dropdown__item" onclick="redirect('LocalRoles/LocalRolesActionsPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Local Roles
                </a>
                <a class="dropdown__item" onclick="redirect('Courses/CoursesActionsPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Courses
                </a>
                <a class="dropdown__item" onclick="redirect('Subscriptions/SubscriptionsActionsPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Subscriptions
                </a>
                <a class="dropdown__item" onclick="redirect('Modules/ModulesActionsPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Modules
                </a>
            </div>
        </div>
    </nav>
</header>