<header class="header">
    <nav class="header__nav container">
        <div class="logo">
            <img src="~/img/logo.svg" alt="Logo" class="logo__img" />
        </div>
        <a class="white-link" asp-area="" asp-page="/Index">Home</a>
        <a class="white-link" href="swagger">Swagger</a>

        <div class="header__dropdown dropdown">
            <div class="dropdown__head">
                <p>Pages</p>
                <p class="icon icon-arrow-down"></p>
            </div>
            <div class="dropdown__items">
                <a class="dropdown__item" onclick="redirect('Users/UsersPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Users
                </a>
                <a class="dropdown__item" onclick="redirect('Roles/RolesPage')">
                    <span class="icon-arrow-right-dotted"></span>
                    Roles
                </a>
            </div>
        </div>
    </nav>
</header>