@import "./partials/_fontimports.scss";
@import "./partials/_variables.scss";
@import "./partials/_reset.scss";
@import "./partials/_mixins.scss";
@import "./partials/_icons.scss";

//General styles

* {
    font-size: $reg-fz;
    color: $mainGray;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    padding: 0 10px;
    box-sizing: content-box;
    margin: 0;
    font-size: $reg-fz;
    height: 50px;
    border-radius: 5px;
    width: max-content;
}

input,
textarea {
    padding: 0;
    margin: 0;
    min-height: 30px;
    border: none;
    outline: none;
    color: $mainGray;
    font-size: $reg-fz;
}

.textarea {
    resize: none;
    min-height: 250px !important;
    color: $mainGray;
}

h1 {
    font-size: $h1-fz;
    font-weight: 800;
}

h2 {
    font-size: $h2-fz;
    font-weight: 700;
}

h3 {
    font-size: $h3-fz;
    font-weight: 600;
}

.container {
    box-sizing: border-box;
    padding: 0 20px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr 40px;
    min-height: 100dvh;
}

body {
    background-color: $white;
}

.header {
    box-sizing: border-box;
    height: 60px;
    background-color: $primary;

    * {
        color: $white;
    }

    &__nav {
        display: flex;
        gap: 40px;
        align-items: center;
        height: 100%;
    }

    .dropdown {
        margin: -20px;
    }

    .dropdown__head {
        height: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgba($white, 0.2);
        }
    }
}

.main {
    width: 100%;

    &__content {
        @include child-not-last {
            margin-bottom: 40px;
        }
    }
    > * {
        margin-bottom: 40px;
    }
}

.footer {
    width: 100%;
    height: 100%;
    color: $mainGray;
    font-size: $reg-fz;
    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.page {
    > *:first-child {
        margin-top: 40px;
    }

    > * {
        margin-bottom: 40px;
    }
}

.white-link {
    color: $white;
    cursor: pointer;

    &:hover {
        color: $blue;
        text-decoration: underline;
    }
}

.input {
    border-radius: 5px;
    background: $veryLightGray;
    padding: 10px;
    min-height: 40px;
    text-overflow: ellipsis;
    border: solid 2px transparent;

    &::placeholder {
        color: $secondaryGray;
    }

    &:focus {
        border: solid 2px $mainGray;
    }
}

.primary-button {
    color: $white;
    background-color: $blue;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: $accentBlue;
    }
}

.fixed-button {
    padding: 0;
    @include static-size(40px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.breadcrumb {
    display: flex;
    gap: 5px;

    &__item {
        cursor: pointer;
        &:hover {
            color: $blue;
        }
        &:after {
            margin-left: 5px;
            content: "/";
            color: $mainGray;
        }
    }
}

.endpoints-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.endpoint-item {
    display: grid;
    grid-template-columns: 130px 1fr auto;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    transition: 0.3s ease-in-out;

    gap: 20px;
    height: 60px;
    border-radius: 5px;
    background-color: $veryLightGray;
    cursor: pointer;

    &__method {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 0 30px;
        height: 100%;
        border-radius: inherit;
        transition: 0.3s ease-in-out;
        background-color: $secondaryGray;
        color: $white;
        text-transform: uppercase;
    }

    &__name {
        padding: 0 10px;
    }

    &__arrow {
        font-size: 24px;
        color: inherit;
        transition: 0.3s ease-in-out;
        padding: 0 30px;
    }

    &:hover {
        .endpoint-item__method {
            background-color: $mainGray;
        }

        .endpoint-item__arrow {
            transform: translateX(10px);
        }
    }
}

.endpoint-item-get {
    background-color: $lightBlue;
    color: $blue;

    .endpoint-item__method {
        background-color: $blue;
        color: $white;
    }

    .endpoint-item__name {
        color: $blue;
    }

    &:hover {
        .endpoint-item__method {
            background-color: $accentBlue;
        }
    }
}

.endpoint-item-post {
    background-color: $lightGreen;
    color: $green;

    .endpoint-item__method {
        background-color: $green;
        color: $white;
    }

    .endpoint-item__name {
        color: $green;
    }

    &:hover {
        .endpoint-item__method {
            background-color: $accentGreen;
        }
    }
}

.endpoint-item-delete {
    background-color: $lightRed;
    color: $red;

    .endpoint-item__method {
        background-color: $red;
        color: $white;
    }

    .endpoint-item__name {
        color: $red;
    }

    &:hover {
        .endpoint-item__method {
            background-color: $accentRed;
        }
    }
}

.width-400 {
    width: 400px;
}

.adaptive-width {
    min-width: 400px;
    width: fit-content;
}

.response-container {
    border: solid 2px $lightGray;
    padding: 20px;
    border-radius: 5px;
    > *:first-child {
        margin-bottom: 40px;
    }

    p {
        width: 100%;
        line-height: 1.5;
        word-wrap: break-word;
        text-wrap: balance;
    }
}

.nav-link {
    cursor: pointer;
    color: $blue;
    font-weight: 600;
    transition: 0.3s ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

.data-view {
    > *:first-child {
        margin-bottom: 40px;
    }

    > *:not(:first-child) {
        margin-bottom: 10px;
    }
    table {
        border: solid 2px #e2e2e2;
        width: 100%;
    }

    th,
    td {
        padding: 10px 40px;
        border: solid 2px #e2e2e2;
    }

    th {
        font-size: 20px;
        font-weight: 500;
        text-align: left;
    }
}

.alert {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: $lightBlue;
    color: $blue;
    border: solid 2px $blue;
    border-radius: 5px;
}

.alert-success {
    background-color: $lightGreen;
    color: $green;
    border-color: $green;
}

.alert-danger {
    background-color: $lightRed;
    color: $red;
    border-color: $red;
}

.form-input {
    > *:not(:last-child) {
        margin-bottom: 20px;
    }

    .input {
        width: 100%;
    }

    &__error {
        line-height: 1.5;
        text-wrap: balance;
    }
}

.red-text {
    color: $red;
}

.green-text {
    color: $green;
}

.blue-text {
    color: $blue;
}

.white-selection {
    background-color: $white;
    color: $blue;
    padding: 0 5px;
    border-radius: 3px;
}

.blue-selection {
    background-color: rgba($lightBlue, 0.6);
    color: $blue;
    padding: 0 5px;
    border-radius: 3px;
}

.split-view {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;

    @media screen and (max-width: $lg) {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
}

.dropdown {
    $radius: 5px;
    user-select: none;

    cursor: pointer;
    position: relative;

    &__items {
        display: none;
        position: absolute;
        z-index: 3;
        top: calc(100% + 10px);
        left: 0;
        min-width: 200px;
        width: max-content;
        border-radius: $radius;
        background-color: rgba($primary, 0.9);

        > *:first-child {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }

        > *:last-child {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 16px 10px;
        color: $white;

        * {
            color: $white;
        }

        gap: 10px;

        @include hover {
            background: $primary;
        }

        @media screen and (max-width: $sm) {
            padding: 20px 10px;
        }
    }
}

.result-value {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;

    .form__actions {
        grid-column: 2;
    }

    @media screen and (max-width: $md) {
        display: flex;
        align-items: start;
        > * {
            width: 100%;
        }
    }
}

.line-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .input {
        width: max-content;
    }
}

.checkbox {
    display: none;
}

.checkbox + label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::before {
        display: inline-block;
        content: "";
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: solid 2px $lightGray;
    }

    @include hover-focus {
        &::before {
            background-color: $veryLightGray;
        }
    }
}

.checkbox:checked + label::before {
    @extend .icon-check;
    font-family: "learnlinkico";
    color: $accentBlue;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    &__img {
        @include static-size(40px);
    }
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
