<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="C:/LearnLink/Logs/Internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="basePath" value="C:/LearnLink/Logs/${date:format=yyyy-MM-dd}" />
	<variable name="defaultLayout"
			  value="${longdate} [${level:uppercase=true}] ${logger}${newline}${message} ${exception:format=tostring}${newline}" />

	<targets>
		<target xsi:type="File" name="requestsFile"
				fileName="${basePath}/Requests.log"
				layout="${defaultLayout}"
				keepFileOpen="false"
				concurrentWrites="true" />

		<target xsi:type="File" name="errorFile"
				fileName="${basePath}/Error.log"
				layout="${defaultLayout}"
				keepFileOpen="false"
				concurrentWrites="true" />

		<target xsi:type="File" name="commonFile"
				fileName="${basePath}/Common.log"
				layout="${defaultLayout}"
				keepFileOpen="false"
				concurrentWrites="true" />

		<target xsi:type="File" name="efCoreFile"
				fileName="${basePath}/EFCore.log"
				layout="${defaultLayout}"
				keepFileOpen="false"
				concurrentWrites="true" />
	</targets>

	<rules>

		<logger name="*" writeTo="errorFile" minlevel="Error" final="true"/>
		<logger name="*" writeTo="commonFile" minlevel="Info" maxLevel="Warn" />
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" writeTo="requestsFile" minlevel="Info" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.*" writeTo="efCoreFile" minlevel="Info" final="true" />
	</rules>
</nlog>