@page
@model LearnLink.WebApi.Pages.Modules.CreateModel
@{
    ViewData["Title"] = "Create module";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Modules/ModulesActionsPage')">
        Modules
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('Modules/Create')">
        Create
    </h2>
</div>

@{
    if (Model.QueryResult != null)
    {
        string className = Model.QueryResult.Success ? "green-text" : "red-text";
        <div class="response-container" id="register-response">
            <h3>Response:</h3>
            <p>Success: <span class="@className">@Model.QueryResult.Success.ToString()</span></p>
            <p>Code: @Model.QueryResult.StatusCode.ToString()</p>
            <p>Message: @Model.QueryResult.Message</p>
        </div>
    }
}

<form class="form" method="post">
    <div class="form-input">
        <p class="form-input__label">Course Id</p>
        <input type="number" min="0" name="courseId" placeholder="Course Id..." class="input" />
    </div>

    <div class="form-input">
        <p class="form-input__label">Title</p>
        <input type="text" name="title" placeholder="Title..." class="input" />
    </div>

    <div class="form-input">
        <p class="form-input__label">Description</p>
        <textarea class="textarea input" name="description" placeholder="Description..."></textarea>
    </div>

    <div class="form__actions">
        <button class="primary-button">Create</button>
    </div>
</form>
