@page
@model RolesPageModel
@{
    ViewData["Title"] = "Roles";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Roles/RolesPage')">
        Roles
    </h2>
</div>

<div class="endpoints-list">
    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/List')">
        <div class="endpoint-item__method">
            get
        </div>
        <div class="endpoint-item__name">List</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>

    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/FindById')">
        <div class="endpoint-item__method">
            get
        </div>
        <div class="endpoint-item__name">Find by Id</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>

    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/FindByName')">
        <div class="endpoint-item__method">
            get
        </div>
        <div class="endpoint-item__name">Find by Name</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>

    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/Create')">
        <div class="endpoint-item__method">
            post
        </div>
        <div class="endpoint-item__name">Create</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>

    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/Update')">
        <div class="endpoint-item__method">
            post
        </div>
        <div class="endpoint-item__name">Update</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>

    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/Allocate')">
        <div class="endpoint-item__method">
            post
        </div>
        <div class="endpoint-item__name">Allocate</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>

    <div class="endpoints-list__item endpoint-item endpoint-item-get" onclick="redirect('Roles/Delete')">
        <div class="endpoint-item__method">
            delete
        </div>
        <div class="endpoint-item__name">Delete</div>
        <i class="endpoint-item__arrow icon-arrow-right"> </i>
    </div>
</div>
