h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #595959;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  color: #595959;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: #595959;
}

.white-tp-button {
  min-height: 50px;
  min-width: 120px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.white-tp-button:hover {
  background-color: #FFFFFF;
  color: #807DFF;
}

.white-link {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.white-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 20px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.inner-container {
  max-width: 1100px;
  margin: 0 auto;
}
