@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Name"] = "LearnLink";
}

<div>
    <h1>Manage platform "@ViewData["Name"]"</h1>

    <p>
        To manage platform use navigation links...
    </p>
</div>
