<header class="header">
    <nav class="header__nav container">
        <h3>LearnLink Admin</h3>
        <a class="white-link" href="#">Login</a>
        <a class="white-link" href="#">Users</a>
        <a class="white-link" href="swagger">Swagger</a>
    </nav>
</header>