@inherits LayoutComponentBase

<div class="wrapper">
    <Header />

    <main class="main container page">
        <div class="main__content">

        </div>
       @Body
    </main>

    <Footer />
</div>
