@page "/"
@using LearnLink.Application.Helpers
@using LearnLink.Shared.Responses
@attribute [StreamRendering(true)]

<PageTitle>Home</PageTitle>

<h2>LearnLink Platform Manager</h2>
<p>To manage a platform data, please login first</p>
@{
    if(response != null)
    {
        <div class="alert @alertClassName">
            @response.Message
        </div>
    }
}

<form class="form login-form width-400">
    <input type="text" name="login" value="@login" onchange="" placeholder="Login" class="input" />
    <input type="password" name="password" value="@password" placeholder="Password" class="input" />
    <button type="button" class="primary-button form-group" onclick="">Login</button>
</form>

@code {
    private string login = "";
    private string password = "";
    private Response<string>? response;
    private string alertClassName = "";

    private async void OnSubmit()
    {
        Console.WriteLine();
    }
}

